<div class="app-card-container">
  <div class="card">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.3436678189933!2d-111.91636804947134!3d40.57816897924539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875288837213f3e5%3A0xdad98ea61425d0a6!2s9425+Riverside+Dr%2C+Sandy%2C+UT+84070!5e0!3m2!1sen!2sus!4v1485285300450" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
     <br>
    <h1>Contact me.</h1>

    <hr>

      <div class="row">
        <div class="col-md-6">
          <h3>Address</h3>

          <p>9425 s Riverside Drive, Sandy, UT 84070</p>

          <h3>Phone Number</h3>
        
          <p><%= number_to_phone "8888888888" %></p>

          <h3>Email</h3>

          <p><a href="mailto:rebeccabuie@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled social-links">
            <li><a href="#"><%= fa_icon "github" %></a></li>
            <li><a href="#"><%= fa_icon "facebook" %></a></li>
            <li><a href="#"><%= fa_icon "twitter" %></a></li>
            <li><a href="#"><%= fa_icon "instagram" %></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>